<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classToHeader</key>
	<dict>
		<key>/Users/flatfisher/Documents/GitProjects/robovm_bluetooth_hub_project/ios/build/classes/main/com/liferay/bluetooth/BLEDataView.class</key>
		<string>/Users/flatfisher/Documents/Develop/robovm_bluetooth_hub_project/ios/robovm-build/xcode/.ib/com.liferay.bluetooth/BLEDataView.h</string>
		<key>/Users/flatfisher/Documents/GitProjects/robovm_bluetooth_hub_project/ios/build/classes/main/com/liferay/bluetooth/MainViewController.class</key>
		<string>/Users/flatfisher/Documents/Develop/robovm_bluetooth_hub_project/ios/robovm-build/xcode/.ib/com.liferay.bluetooth/MainViewController.h</string>
		<key>/Users/flatfisher/Documents/GitProjects/robovm_bluetooth_hub_project/ios/build/classes/main/com/liferay/bluetooth/ScanBLEDeviceViewController.class</key>
		<string>/Users/flatfisher/Documents/Develop/robovm_bluetooth_hub_project/ios/robovm-build/xcode/.ib/com.liferay.bluetooth/ScanBLEDeviceViewController.h</string>
		<key>/Users/flatfisher/Documents/Develop/robovm_bluetooth_hub_project/ios/build/classes/main/com/liferay/bluetooth/AddDeviceTableViewController.class</key>
		<string>/Users/flatfisher/Documents/Develop/robovm_bluetooth_hub_project/ios/robovm-build/xcode/.ib/com.liferay.bluetooth/AddDeviceTableViewController.h</string>
		<key>/Users/flatfisher/Documents/Develop/robovm_bluetooth_hub_project/ios/build/classes/main/com/liferay/bluetooth/DeviceDataUIView.class</key>
		<string>/Users/flatfisher/Documents/Develop/robovm_bluetooth_hub_project/ios/robovm-build/xcode/.ib/com.liferay.bluetooth/DeviceDataUIView.h</string>
		<key>/Users/flatfisher/Documents/Develop/robovm_bluetooth_hub_project/ios/build/classes/main/com/liferay/bluetooth/MainViewController.class</key>
		<string>/Users/flatfisher/Documents/Develop/robovm_bluetooth_hub_project/ios/robovm-build/xcode/.ib/com.liferay.bluetooth/MainViewController.h</string>
	</dict>
	<key>implementationToBuild</key>
	<dict>
		<key>6873AEB19D774968B28D7C2E</key>
		<string>66A2ADFDD5244436823E02A3</string>
		<key>E04B9E0DA79A4B9D8CB6E41B</key>
		<string>FA58174C9C904B4AA3C3FE74</string>
		<key>2EF065BE10404D5D86813047</key>
		<string>863F56E3FE3B4A5498CAC2E1</string>
		<key>D12D0AA5DFE344CF8156364C</key>
		<string>2C624E467AEE4319901E7634</string>
		<key>9C849911C0F743F299F2B900</key>
		<string>9B1ED87F2EE04D768188E02F</string>
	</dict>
</dict>
</plist>