<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classToHeader</key>
	<dict>
		<key>/Users/flatfisher/Documents/Develop/robovm_bluetooth_hub_project/ios/build/classes/main/com/liferay/bluetooth/AddDeviceTableViewController.class</key>
		<string>/Users/flatfisher/Documents/Develop/robovm_bluetooth_hub_project/ios/robovm-build/xcode/.ib/com.liferay.bluetooth/AddDeviceTableViewController.h</string>
		<key>/Users/flatfisher/Documents/Develop/robovm_bluetooth_hub_project/ios/build/classes/main/com/liferay/bluetooth/MainViewController.class</key>
		<string>/Users/flatfisher/Documents/Develop/robovm_bluetooth_hub_project/ios/robovm-build/xcode/.ib/com.liferay.bluetooth/MainViewController.h</string>
	</dict>
	<key>implementationToBuild</key>
	<dict>
		<key>1E0A67A2FA6943068448CAE7</key>
		<string>2BB689F9F0BE43FEAA578105</string>
		<key>B21A04B5BE1248D1BBD5E297</key>
		<string>54D8BCDEDFFA4D938EDF1AB8</string>
	</dict>
</dict>
</plist>